In [ ]:
import pandas as pd


actualYear = 2025 #Variable para calcular la edad
newColumnList = [] #Lista para crear la nueva columna
vipClientsList = [] #Lista para crear la lista de clientes vip
probablyDiedList = [] #Lista para crear columna probably died

df_marketing = pd.read_csv("marketing_campaign.csv", sep="\t")

#Cambiar a formato datetime
df_marketing["Dt_Customer"] = pd.to_datetime(df_marketing["Dt_Customer"], dayfirst=True)

#Ordenar por fecha de modernidad
df_marketing.sort_values(by='Dt_Customer', ascending=False, inplace=True)

#Quedarte con los 1000
df_marketing = df_marketing[0:1000]

#Añadir la columna probably died calculando con el año actual la edad aproximada que tienen
for index, row in df_marketing.iterrows():
    if int(row["Year_Birth"]) - actualYear > 100:
        probablyDiedList.append(True)
    else:
        probablyDiedList.append(False)

df_marketing["ProbablyDied"] = probablyDiedList

print(df_marketing.head())

#Funcion que devuelve un pandas con la suma de 2 columnas
def new_Column(df):
    for index, row in df_marketing.iterrows():
        newColumnList.append(row['MntWines']+row['MntFruits'])
    df["newColumn"] = newColumnList
    return df["newColumn"]
        
newPanda = new_Column(df_marketing)

#Demuestro que devuelve un panda
print("new column return type {}".format(type(newPanda)))

#df_marketing["Education"].unique(): ['Graduation' : 2, 'PhD': 4, 'Master': 6, '2n Cycle': 8, 'Basic': 10]

#sustituyo los valores por numeros
for index, row in df_marketing.iterrows():
    row["Education"] = row["Education"].replace("Graduation","2").replace("PhD","4").replace("Master","6").replace("2n Cycle","8").replace("Basic","10")
    df_marketing.loc[index] = row

#Crear nuevo dataframe llamado vipClients y limpiar los datos
for index, row in df_marketing.iterrows():
    if row["Income"] is None:
        row["Income"] = 0
    else:
        row["Income"] = float(str(row["Income"]).replace(",", ""))
    df_marketing.loc[index] = row

#Filtrado de ambos criterios 
vipClients = df_marketing.loc[df_marketing["MntWines"] > 400].loc[df_marketing["Income"] > 80000]

#Para que pruebes lo que quieras :)
#vipClients.head()
#df_marketing.head()

        ID  Year_Birth   Education Marital_Status Income  Kidhome  Teenhome  \
200   7300        1952  Graduation       Divorced  69142        0         1
989    453        1956         PhD          Widow  35340        1         1
1812  8093        1969      Master        Married  79734        0         0
796   6722        1954         PhD        Married  70421        0         1
45    1371        1976  Graduation         Single  79941        0         0

     Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
200   2014-06-29       50       448  ...                  5             0
989   2014-06-29        1        27  ...                  5             0
1812  2014-06-28       72       572  ...                  1             0
796   2014-06-28       98       479  ...                  6             0
45    2014-06-28       72       123  ...                  1             0

      AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
200              1             0             0             0         0
989              0             0             0             0         0
1812             0             0             1             0         0
796              0             0             0             0         0
45               0             0             0             0         0

      Z_CostContact  Z_Revenue  Response
200               3         11         0
989               3         11         0
1812              3         11         0
796               3         11         0
45                3         11         0

[5 rows x 29 columns]
new column return type <class 'pandas.core.series.Series'>