In [ ]:
import pandas as pd


actualYear = 2025 #Variable para calcular la edad
newColumnList = [] #Lista para crear la nueva columna
vipClientsList = [] #Lista para crear la lista de clientes vip

df_marketing = pd.read_csv("marketing_campaign.csv", sep="\t")

#Cambiar a formato datetime
df_marketing["Dt_Customer"] = pd.to_datetime(df_marketing["Dt_Customer"], dayfirst=True)

#Ordenar por fecha de modernidad
df_marketing.sort_values(by='Dt_Customer', ascending=False, inplace=True)

#Quedarte con los 1000
df_marketing = df_marketing[0:1000]

#Añadir la columna probably died calculando con el año actual la edad aproximada que tienen
for index, row in df_marketing.iterrows():
    if int(row["Year_Birth"]) - actualYear > 100:
        df_marketing["Probably_Died"] = True
    else:
        df_marketing["Probably_Died"] = False

#Funcion que devuelve un pandas con la suma de 2 columnas
def new_Column(df):
    for index, row in df_marketing.iterrows():
        newColumnList.append(row['MntWines']+row['MntFruits'])
    df["newColumn"] = newColumnList
    return df["newColumn"]
        
newPanda = new_Column(df_marketing)

#Demuestro que devuelve un panda
print("new column return type {}".format(type(newPanda)))

#df_marketing["Education"].unique(): ['Graduation' : 2, 'PhD': 4, 'Master': 6, '2n Cycle': 8, 'Basic': 10]

#sustituyo los valores por numeros
for index, row in df_marketing.iterrows():
    row["Education"] = row["Education"].replace("Graduation","2").replace("PhD","4").replace("Master","6").replace("2n Cycle","8").replace("Basic","10")
    df_marketing.loc[index] = row

#Crear nuevo dataframe llamado vipClients y limpiar los datos
for index, row in df_marketing.iterrows():
    if row["Income"] is None:
        row["Income"] = 0
    else:
        row["Income"] = float(str(row["Income"]).replace(",", ""))
    df_marketing.loc[index] = row

#Filtrado de ambos criterios 
vipClients = df_marketing.loc[df_marketing["MntWines"] > 400].loc[df_marketing["Income"] > 80000]

#Para que pruebes lo que quieras :)
#vipClients.head()
#df_marketing.head()

new column return type <class 'pandas.core.series.Series'>

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Probably_Died,newColumn
463,7059,1963,2,Married,80124.0,0,0,2014-06-26,47,483,...,0,0,0,0,0,3,11,0,False,567
266,1225,1963,2,Married,80124.0,0,0,2014-06-26,47,483,...,0,0,0,0,0,3,11,0,False,567
1269,9400,1958,8,Single,85485.0,0,0,2014-06-21,73,630,...,0,0,0,0,0,3,11,0,False,656
1710,477,1986,2,Married,83512.0,0,0,2014-06-17,31,1060,...,0,1,1,1,0,3,11,1,False,1121
53,2225,1977,2,Divorced,82582.0,0,0,2014-06-07,54,510,...,0,0,1,0,0,3,11,1,False,630