# Ejercicios para practicar LECTURA Y ESCRITURA DE FICHEROS
Descarga el archivo comprimido que se adjunta con la tarea. Debes descomprimirlo en una carpeta conocida. Este archivo contiene 35 CSVs con los datos de mercado de cada una de las empresas del IBEX 35, el índice bursatil de España.

**1.**-  Debes escribir un programa que consiga los siguientes objetivos:

1. Lista los archivos con extensión .CSV del directorio donde has descomprimido los 35 archivos e importa los mismos mediante un bucle. Te sugiero que hagas una lista o algún tipo de elemento iterable con todos los dataframes. 
2. Muestra en una gráfica los valores medios diários de cada uno de las empresas (columna 'average') de los meses de octubre, noviembre y diciembre de 2019. Sugerencias:
    - Para filtrar por fecha puedes usar el método loc() del DataFrame. Para crear la fecha de referencia puedes usar el paquete datetime (import datetime as dt) y crearla así "fecha_limite = dt.datetime(2019, 10, 1)". Para transformar todos los strings de fecha de los DataFrames en objetos de tipo datetime puedes usar la siguiente función: "pd.to_datetime(df['Date'],dayfirst=True)".
    - Para hacer la gráfica puedes usar el paquete matplotlib. 
3. Crea un dataframe con las siguientes columnas:
    - Código que identifica a cada empresa.
    - Porcentaje de variación de su valor en la última semana ((ValorFinal-ValorInicial)*100/ValorInicial).
    - Porcentaje de variación de su valor en el último mes.
    - Porcentaje de variación de su valor en el último trimestre.
4. Crea una función que reciba una fecha, importe los datasets de los valores de bolsa y te devuelva el código de empresa que ha subido más en la última semana (en porcentaje).

In [5]:
import os
import pandas as pd

fileDataFrames = []
fileList = os.listdir('./IBEX35_Individual_data')
for File in fileList:
    if File.endswith('.csv'):
        fileDataFrames.append(pd.read_csv('./IBEX35_Individual_data/' + File))


fileDataFrames

[    Ticker        Date  Close  Reference   Volume     Turnover   Last   High  \
 0      TL5  02/01/2019  5.588      5.490   755250   4166329.26  5.588  5.592
 1      TL5  03/01/2019  5.566      5.588  1935299  10715105.64  5.566  5.598
 2      TL5  04/01/2019  5.650      5.566  1863348  10624583.14  5.650  5.900
 3      TL5  07/01/2019  5.858      5.650  1018698   5930630.59  5.858  5.876
 4      TL5  08/01/2019  5.834      5.858   990703   5793661.14  5.834  5.950
 ..     ...         ...    ...        ...      ...          ...    ...    ...
 240    TL5  09/12/2019  5.670      5.750   193731   1106509.88  5.670  5.800
 241    TL5  10/12/2019  5.666      5.670   483993   2743213.54  5.666  5.760
 242    TL5  11/12/2019  5.664      5.666   321435   1818060.64  5.664  5.740
 243    TL5  12/12/2019  5.678      5.664   360709   2052157.62  5.678  5.718
 244    TL5  13/12/2019  5.664      5.678   544527   3098963.94  5.664  5.770

        Low  Average
 0    5.356   5.5165
 1    5.512   5.5576
 2    5.566   5.7019
 3    5.700   5.8212
 4    5.812   5.8492
 ..     ...      ...
 240  5.670   5.7116
 241  5.630   5.6679
 242  5.618   5.6561
 243  5.652   5.6892
 244  5.652   5.6911

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference  Volume    Turnover   Last   High  \
 0      VIS  02/01/2019  46.74      48.12   91657  4307210.96  46.74  47.90
 1      VIS  03/01/2019  46.60      46.74   77905  3620057.80  46.60  46.86
 2      VIS  04/01/2019  47.44      46.60   58235  2757104.62  47.44  47.68
 3      VIS  07/01/2019  47.60      47.44   71963  3422304.88  47.60  47.90
 4      VIS  08/01/2019  48.54      47.60   74428  3599750.70  48.54  48.78
 ..     ...         ...    ...        ...     ...         ...    ...    ...
 240    VIS  09/12/2019  48.70      48.76   40236  1958325.66  48.70  48.96
 241    VIS  10/12/2019  48.16      48.70   60198  2895965.78  48.16  48.74
 242    VIS  11/12/2019  47.96      48.16   63000  3012462.12  47.96  48.42
 243    VIS  12/12/2019  48.42      47.96   50218  2429199.80  48.42  48.66
 244    VIS  13/12/2019  48.64      48.42   62427  3038685.10  48.64  49.18

        Low  Average
 0    46.66  46.9927
 1    45.82  46.4676
 2    46.70  47.3445
 3    47.34  47.5565
 4    47.60  48.3655
 ..     ...      ...
 240  48.44  48.6710
 241  47.70  48.1201
 242  47.52  47.8169
 243  47.76  48.3731
 244  48.12  48.6758

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference  Volume     Turnover   Last   High  \
 0      ANA  02/01/2019  74.80      73.90  156300  11621188.98  74.80  75.16
 1      ANA  03/01/2019  76.34      74.80  140331  10632703.64  76.34  76.60
 2      ANA  04/01/2019  76.62      76.34  130309  10010838.76  76.62  77.40
 3      ANA  07/01/2019  77.14      76.62   63349   4855724.92  77.14  77.30
 4      ANA  08/01/2019  78.24      77.14   99300   7749464.70  78.24  78.46
 ..     ...         ...    ...        ...     ...          ...    ...    ...
 240    ANA  09/12/2019  92.05      92.00  129741  11889158.00  92.05  92.60
 241    ANA  10/12/2019  91.95      92.05   46267   4254898.65  91.95  92.50
 242    ANA  11/12/2019  92.85      91.95   48398   4478126.00  92.85  92.90
 243    ANA  12/12/2019  93.30      92.85   46860   4364399.45  93.30  93.45
 244    ANA  13/12/2019  93.85      93.30   55309   5192000.25  93.85  94.35

        Low  Average
 0    72.38  74.3518
 1    74.54  75.7687
 2    76.40  76.8162
 3    75.62  76.6504
 4    77.00  78.0409
 ..     ...      ...
 240  91.45  92.1137
 241  91.15  91.9640
 242  92.05  92.5271
 243  92.45  93.1370
 244  93.45  93.8726

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference    Volume      Turnover   Last  \
 0      TEF  02/01/2019  7.406      7.339  15238949  1.117604e+08  7.406
 1      TEF  03/01/2019  7.529      7.406  20327613  1.518793e+08  7.529
 2      TEF  04/01/2019  7.627      7.529  13064758  9.954866e+07  7.627
 3      TEF  07/01/2019  7.696      7.627  14858461  1.140514e+08  7.696
 4      TEF  08/01/2019  7.684      7.696  17351760  1.334986e+08  7.684
 ..     ...         ...    ...        ...       ...           ...    ...
 240    TEF  09/12/2019  6.761      6.868  10729934  7.285288e+07  6.761
 241    TEF  10/12/2019  6.743      6.761  17521998  1.179278e+08  6.743
 242    TEF  11/12/2019  6.761      6.743  44458518  2.996302e+08  6.761
 243    TEF  12/12/2019  6.693      6.761  14783157  9.908717e+07  6.693
 244    TEF  13/12/2019  6.726      6.693  15430915  1.041949e+08  6.726

       High    Low  Average
 0    7.420  7.227   7.3601
 1    7.573  7.360   7.5165
 2    7.699  7.526   7.6198
 3    7.706  7.613   7.6799
 4    7.750  7.628   7.6899
 ..     ...    ...      ...
 240  6.866  6.761   6.7884
 241  6.781  6.656   6.7258
 242  6.799  6.661   6.7402
 243  6.782  6.672   6.7023
 244  6.819  6.718   6.7520

 [245 rows x 10 columns],
     Ticker        Date   Close  Reference   Volume     Turnover    Last  \
 0     BKIA  02/01/2019  2.5300     2.5600  4164952  10467613.16  2.5300
 1     BKIA  03/01/2019  2.5080     2.5300  5427749  13700169.40  2.5080
 2     BKIA  04/01/2019  2.6490     2.5080  6246179  16352075.49  2.6490
 3     BKIA  07/01/2019  2.6640     2.6490  5053929  13418652.45  2.6640
 4     BKIA  08/01/2019  2.6890     2.6640  6576013  17784235.41  2.6890
 ..     ...         ...     ...        ...      ...          ...     ...
 240   BKIA  09/12/2019  1.7915     1.7900  3474671   6241278.28  1.7915
 241   BKIA  10/12/2019  1.7710     1.7915  5318227   9420388.63  1.7710
 242   BKIA  11/12/2019  1.7795     1.7710  3867491   6887356.19  1.7795
 243   BKIA  12/12/2019  1.8560     1.7795  6741772  12351190.56  1.8560
 244   BKIA  13/12/2019  1.8575     1.8560  7751665  14659433.74  1.8575

       High     Low  Average
 0    2.549  2.4670   2.5133
 1    2.575  2.5050   2.5241
 2    2.668  2.5200   2.6179
 3    2.676  2.6280   2.6560
 4    2.747  2.6740   2.7044
 ..     ...     ...      ...
 240  1.815  1.7830   1.7962
 241  1.795  1.7540   1.7713
 242  1.795  1.7610   1.7808
 243  1.868  1.7685   1.8320
 244  1.938  1.8545   1.8911

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference    Volume     Turnover   Last   High  \
 0      MAP  02/01/2019  2.295      2.320   4014328   9173897.13  2.295  2.319
 1      MAP  03/01/2019  2.306      2.295   4965524  11416747.90  2.306  2.318
 2      MAP  04/01/2019  2.371      2.306   3943996   9297963.40  2.371  2.373
 3      MAP  07/01/2019  2.370      2.371   2918356   6929851.45  2.370  2.398
 4      MAP  08/01/2019  2.367      2.370   5603813  13222770.57  2.367  2.373
 ..     ...         ...    ...        ...       ...          ...    ...    ...
 240    MAP  09/12/2019  2.595      2.595  14009760  36508793.42  2.595  2.614
 241    MAP  10/12/2019  2.570      2.595  11950792  30915514.76  2.570  2.599
 242    MAP  11/12/2019  2.550      2.570   3375971   8623143.87  2.550  2.574
 243    MAP  12/12/2019  2.566      2.550   4048346  10278032.69  2.566  2.573
 244    MAP  13/12/2019  2.567      2.566  13173959  34294317.25  2.567  2.617

        Low  Average
 0    2.252   2.2853
 1    2.281   2.3012
 2    2.312   2.3575
 3    2.364   2.3746
 4    2.333   2.3596
 ..     ...      ...
 240  2.580   2.5960
 241  2.554   2.5710
 242  2.550   2.5543
 243  2.503   2.5388
 244  2.567   2.5817

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference   Volume     Turnover   Last   High  \
 0      GRF  02/01/2019  22.73      22.90   488978  11054420.17  22.73  22.73
 1      GRF  03/01/2019  22.81      22.73  3948479  89724786.50  22.81  22.93
 2      GRF  04/01/2019  23.57      22.81   853831  20048306.34  23.57  23.86
 3      GRF  07/01/2019  23.55      23.57   387963   9119018.77  23.55  23.67
 4      GRF  08/01/2019  23.90      23.55   755013  18049633.73  23.90  24.16
 ..     ...         ...    ...        ...      ...          ...    ...    ...
 240    GRF  09/12/2019  31.19      30.63   934675  29166499.62  31.19  31.59
 241    GRF  10/12/2019  31.22      31.19  1358405  42260079.04  31.22  31.25
 242    GRF  11/12/2019  30.98      31.22  1113412  34528595.19  30.98  31.18
 243    GRF  12/12/2019  31.07      30.98  1300281  40425080.65  31.07  31.25
 244    GRF  13/12/2019  31.24      31.07   562675  17565400.48  31.24  31.46

        Low  Average
 0    22.18  22.6072
 1    22.50  22.7427
 2    22.81  23.4804
 3    23.31  23.5049
 4    23.59  23.9063
 ..     ...      ...
 240  30.80  31.2050
 241  30.62  31.0465
 242  30.95  31.0051
 243  30.93  31.0767
 244  30.84  31.2177

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference    Volume      Turnover   Last  \
 0      IBE  02/01/2019  6.998      7.018  17518650  1.221758e+08  6.998
 1      IBE  03/01/2019  7.010      6.998  24470524  1.709725e+08  7.010
 2      IBE  04/01/2019  7.062      7.010  15186132  1.073281e+08  7.062
 3      IBE  07/01/2019  7.116      7.062  14151358  1.005036e+08  7.116
 4      IBE  08/01/2019  7.090      7.116  19513524  1.360475e+08  7.090
 ..     ...         ...    ...        ...       ...           ...    ...
 240    IBE  09/12/2019  8.794      8.772  12831962  1.128186e+08  8.794
 241    IBE  10/12/2019  8.792      8.794  15498287  1.361775e+08  8.792
 242    IBE  11/12/2019  8.948      8.792  24229528  2.156441e+08  8.948
 243    IBE  12/12/2019  8.910      8.948  14469496  1.290401e+08  8.910
 244    IBE  13/12/2019  8.998      8.910  15298974  1.371869e+08  8.998

       High    Low  Average
 0    7.032  6.864   6.9813
 1    7.068  6.944   7.0023
 2    7.128  7.024   7.0692
 3    7.122  7.052   7.1020
 4    7.150  7.076   7.1071
 ..     ...    ...      ...
 240  8.818  8.746   8.7923
 241  8.822  8.712   8.7811
 242  8.950  8.794   8.9261
 243  8.960  8.886   8.9182
 244  9.012  8.854   8.9665

 [245 rows x 10 columns],
     Ticker        Date   Close  Reference   Volume      Turnover    Last  \
 0      FER  02/01/2019  17.710     17.695  1210386  2.137887e+07  17.710
 1      FER  03/01/2019  17.800     17.710  1117692  1.986405e+07  17.800
 2      FER  04/01/2019  18.015     17.800  1313015  2.361760e+07  18.015
 3      FER  07/01/2019  18.150     18.015   994252  1.796035e+07  18.150
 4      FER  08/01/2019  18.325     18.150  1517151  2.774505e+07  18.325
 ..     ...         ...     ...        ...      ...           ...     ...
 240    FER  09/12/2019  27.110     26.770  1283551  3.476341e+07  27.110
 241    FER  10/12/2019  27.130     27.110   813964  2.204512e+07  27.130
 242    FER  11/12/2019  27.040     27.130   855745  2.314735e+07  27.040
 243    FER  12/12/2019  27.160     27.040  5558952  1.513024e+08  27.160
 244    FER  13/12/2019  27.180     27.160  1146645  3.124642e+07  27.180

        High     Low  Average
 0    17.785  17.350  17.6629
 1    17.950  17.525  17.7596
 2    18.100  17.825  17.9908
 3    18.150  17.755  18.0714
 4    18.360  18.050  18.2899
 ..      ...     ...      ...
 240  27.190  26.750  27.0810
 241  27.220  26.720  27.0828
 242  27.200  26.900  27.0494
 243  27.530  27.060  27.2710
 244  27.540  27.100  27.1999

 [245 rows x 10 columns],
     Ticker        Date   Close  Reference    Volume      Turnover    Last  \
 0      REP  02/01/2019  14.235     14.080  10003999  1.402101e+08  14.235
 1      REP  03/01/2019  14.255     14.235  12814838  1.806134e+08  14.255
 2      REP  04/01/2019  14.595     14.255   7089672  1.031390e+08  14.595
 3      REP  07/01/2019  14.475     14.595   4409347  6.389803e+07  14.475
 4      REP  08/01/2019  14.490     14.475  12227338  1.773212e+08  14.490
 ..     ...         ...     ...        ...       ...           ...     ...
 240    REP  09/12/2019  14.460     14.635   5006379  7.268310e+07  14.460
 241    REP  10/12/2019  14.350     14.460   5181399  7.437272e+07  14.350
 242    REP  11/12/2019  14.350     14.350   5257987  7.562979e+07  14.350
 243    REP  12/12/2019  14.375     14.350   8125332  1.164471e+08  14.375
 244    REP  13/12/2019  14.325     14.375   7409070  1.061177e+08  14.325

        High     Low  Average
 0    14.310  13.785  14.0805
 1    14.380  14.025  14.2255
 2    14.705  14.360  14.5892
 3    14.695  14.330  14.4915
 4    14.790  14.440  14.5760
 ..      ...     ...      ...
 240  14.665  14.430  14.4930
 241  14.440  14.230  14.3415
 242  14.465  14.345  14.3811
 243  14.440  14.180  14.3417
 244  14.535  14.285  14.4120

 [245 rows x 10 columns],
     Ticker        Date   Close  Reference  Volume      Turnover    Last  \
 0     AENA  02/01/2019  137.00     135.75  143458  1.959107e+07  137.00
 1     AENA  03/01/2019  137.05     137.00  461151  6.305976e+07  137.05
 2     AENA  04/01/2019  140.50     137.05  110214  1.544485e+07  140.50
 3     AENA  07/01/2019  139.15     140.50   92663  1.290848e+07  139.15
 4     AENA  08/01/2019  140.00     139.15  179857  2.520672e+07  140.00
 ..     ...         ...     ...        ...     ...           ...     ...
 240   AENA  09/12/2019  166.30     165.60   86270  1.435349e+07  166.30
 241   AENA  10/12/2019  166.35     166.30  789906  1.315973e+08  166.35
 242   AENA  11/12/2019  170.25     166.35  199446  3.378530e+07  170.25
 243   AENA  12/12/2019  171.40     170.25  346028  5.920198e+07  171.40
 244   AENA  13/12/2019  174.95     171.40  274505  4.795253e+07  174.95

        High     Low   Average
 0    138.00  133.95  136.5631
 1    139.15  136.40  137.4490
 2    140.95  137.70  140.1351
 3    141.10  138.20  139.3056
 4    141.05  138.80  140.1306
 ..      ...     ...       ...
 240  167.35  165.40  166.3787
 241  167.30  164.45  166.1044
 242  170.25  166.20  169.7029
 243  172.55  170.20  171.4179
 244  175.80  172.95  174.7216

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference   Volume     Turnover   Last   High  \
 0      BKT  02/01/2019  6.980      7.018  1219753   8444810.91  6.980  7.012
 1      BKT  03/01/2019  6.942      6.980  2142728  14868788.05  6.942  7.020
 2      BKT  04/01/2019  7.158      6.942  1725530  12294931.88  7.158  7.190
 3      BKT  07/01/2019  7.154      7.158  2663550  19012637.34  7.154  7.206
 4      BKT  08/01/2019  7.236      7.154  2494581  18030222.18  7.236  7.304
 ..     ...         ...    ...        ...      ...          ...    ...    ...
 240    BKT  09/12/2019  6.502      6.536  1254744   8180406.90  6.502  6.566
 241    BKT  10/12/2019  6.422      6.502  2158415  13930724.33  6.422  6.502
 242    BKT  11/12/2019  6.476      6.422  1785209  11565448.14  6.476  6.524
 243    BKT  12/12/2019  6.680      6.476  2305587  15296023.09  6.680  6.756
 244    BKT  13/12/2019  6.660      6.680  3001902  20174303.38  6.660  6.860

        Low  Average
 0    6.800   6.9234
 1    6.880   6.9467
 2    6.976   7.1253
 3    7.092   7.1504
 4    7.150   7.2464
 ..     ...      ...
 240  6.502   6.5196
 241  6.400   6.4330
 242  6.400   6.4785
 243  6.474   6.6333
 244  6.640   6.7205

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference  Volume    Turnover   Last   High  \
 0      TRE  02/01/2019  21.01      21.34  186699  3906697.99  21.01  21.35
 1      TRE  03/01/2019  20.74      21.01  194315  4040078.36  20.74  21.11
 2      TRE  04/01/2019  21.44      20.74  181773  3877278.83  21.44  21.70
 3      TRE  07/01/2019  21.41      21.44  135892  2916830.94  21.41  21.85
 4      TRE  08/01/2019  21.87      21.41  121292  2643560.82  21.87  22.06
 ..     ...         ...    ...        ...     ...         ...    ...    ...
 240    TRE  09/12/2019  22.24      22.44   52637  1174599.34  22.24  22.48
 241    TRE  10/12/2019  22.26      22.24   82253  1821742.02  22.26  22.32
 242    TRE  11/12/2019  22.60      22.26  117086  2644002.02  22.60  22.80
 243    TRE  12/12/2019  22.62      22.60  104597  2375973.48  22.62  22.88
 244    TRE  13/12/2019  22.76      22.62  155488  3543527.42  22.76  23.00

        Low  Average
 0    20.61  20.9251
 1    20.63  20.7914
 2    20.98  21.3303
 3    21.22  21.4643
 4    21.49  21.7950
 ..     ...      ...
 240  22.24  22.3151
 241  22.00  22.1480
 242  22.20  22.5817
 243  22.62  22.7155
 244  22.60  22.7897

 [245 rows x 10 columns],
     Ticker        Date   Close  Reference     Volume      Turnover    Last  \
 0      SAN  02/01/2019  3.9775     3.9730   36201517  1.418160e+08  3.9775
 1      SAN  03/01/2019  4.0095     3.9775   31742740  1.272734e+08  4.0095
 2      SAN  04/01/2019  4.1595     4.0095   47443453  1.961172e+08  4.1595
 3      SAN  07/01/2019  4.1830     4.1595   43652846  1.824207e+08  4.1830
 4      SAN  08/01/2019  4.2175     4.1830   48127831  2.031856e+08  4.2175
 ..     ...         ...     ...        ...        ...           ...     ...
 240    SAN  09/12/2019  3.5890     3.5850   30687907  1.105645e+08  3.5890
 241    SAN  10/12/2019  3.5830     3.5890   70573220  2.527275e+08  3.5830
 242    SAN  11/12/2019  3.5615     3.5830   44105411  1.570015e+08  3.5615
 243    SAN  12/12/2019  3.6880     3.5615   63292867  2.307855e+08  3.6880
 244    SAN  13/12/2019  3.7110     3.6880  138954618  5.249952e+08  3.7110

        High     Low  Average
 0    3.9980  3.8300   3.9151
 1    4.0430  3.9420   4.0092
 2    4.1820  4.0420   4.1344
 3    4.1995  4.1345   4.1746
 4    4.2705  4.1745   4.2228
 ..      ...     ...      ...
 240  3.6280  3.5760   3.6025
 241  3.5950  3.5320   3.5717
 242  3.5880  3.5400   3.5624
 243  3.7075  3.5560   3.6566
 244  3.8500  3.7110   3.7717

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference   Volume     Turnover   Last    High  \
 0      ACX  02/01/2019  8.582      8.662   860864   7289943.63  8.582   8.642
 1      ACX  03/01/2019  8.406      8.582   860687   7282182.24  8.406   8.576
 2      ACX  04/01/2019  8.882      8.406  1662782  14607363.06  8.882   8.898
 3      ACX  07/01/2019  8.976      8.882  1209968  10790264.98  8.976   9.054
 4      ACX  08/01/2019  9.200      8.976  3245342  29465409.38  9.200   9.340
 ..     ...         ...    ...        ...      ...          ...    ...     ...
 240    ACX  09/12/2019  9.958      9.764  1492176  14861667.30  9.958  10.100
 241    ACX  10/12/2019  9.844      9.958   874898   8597706.32  9.844   9.980
 242    ACX  11/12/2019  9.844      9.844   515873   5069334.22  9.844   9.912
 243    ACX  12/12/2019  9.824      9.844   713418   6969748.63  9.824   9.886
 244    ACX  13/12/2019  9.810      9.824  1281439  12680619.74  9.810  10.050

        Low  Average
 0    8.350   8.4682
 1    8.402   8.4609
 2    8.510   8.7887
 3    8.776   8.9176
 4    8.968   9.1836
 ..     ...      ...
 240  9.810   9.9597
 241  9.714   9.8267
 242  9.762   9.8267
 243  9.642   9.7749
 244  9.762   9.8977

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference   Volume      Turnover   Last   High  \
 0      ELE  02/01/2019  20.07      20.13  3456660  6.873531e+07  20.07  20.11
 1      ELE  03/01/2019  20.13      20.07  6395564  1.281573e+08  20.13  20.31
 2      ELE  04/01/2019  20.20      20.13   992239  2.006504e+07  20.20  20.35
 3      ELE  07/01/2019  20.27      20.20  2345981  4.743833e+07  20.27  20.27
 4      ELE  08/01/2019  20.38      20.27  3144538  6.391435e+07  20.38  20.43
 ..     ...         ...    ...        ...      ...           ...    ...    ...
 240    ELE  09/12/2019  24.28      24.34  1695904  4.120901e+07  24.28  24.37
 241    ELE  10/12/2019  24.24      24.28  3042852  7.379180e+07  24.24  24.34
 242    ELE  11/12/2019  24.29      24.24  1245109  3.024452e+07  24.29  24.39
 243    ELE  12/12/2019  24.14      24.29  1665173  4.045813e+07  24.14  24.48
 244    ELE  13/12/2019  24.28      24.14  1165491  2.827289e+07  24.28  24.35

         Low  Average
 0    19.720  19.9791
 1    19.935  20.1314
 2    20.150  20.2220
 3    20.070  20.2235
 4    20.200  20.3463
 ..      ...      ...
 240  24.140  24.2801
 241  24.030  24.2025
 242  24.170  24.2907
 243  24.140  24.2334
 244  24.100  24.2583

 [245 rows x 10 columns],
     Ticker        Date  Close  Reference   Volume      Turnover   Last   High  \